@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme inline {
  --color-primary: #ffc000;
  --color-text-primary: #161921;
  --color-text-secondary: #525960;
  --default-font-family: "Roboto", sans-serif;

  --color-dash-primary: #ffc000;
  --color-dash-text-primary: #ffff;
  --color-dash-bg-primary: #000000;
  --color-dash-bg-secondary: #222222;
}
